.tumbnail{

    width: 300px;
    
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: inline-block;
    width: 300px;
    margin-right: 25px;
    margin-top: 25px;
}