.tumbnail{

    width: 300px;
    
}

input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    display: inline-block;
    width: 300px;
    margin-right: 25px;
    margin-top: 25px;
}

.proflie-pic{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.original-pic{
    width: 100%;
    border-radius: 15px;

}
.content{
    margin-top: 0px;
    width: 200px;
    display: inline-block
}
.video-title{
    margin: 0px;
}